<!-- this sets the parameters that the driver will set the drone with.
		see the SDK documentation for a description of what these values mean.
		This file is a modified version of ardrone_autonomy/launch/ardrone_aggressive.launch
-->
<launch>
	<group ns="dronesL">
		<include file="$(find ardrone_demonstrations_york)/launch/bd_64.launch" />
	</group>
	<group ns="dronesR">
		<include file="$(find ardrone_demonstrations_york)/launch/bd_68.launch" />
	</group>
</launch>
