<!-- this sets the parameters that the driver will set the drone with.
		see the SDK documentation for a description of what these values mean.
		This file is a modified version of ardrone_autonomy/launch/ardrone_aggressive.launch
-->
<launch>
	<!-- start the driver node -->
	<node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" clear_params="true"  args="-ip 192.168.1.64">
		<!-- args="-ip 192.168.1.64" -->
		<!-- Modifies the drone's onboard parameters. 
		If not specified, drone default will be used (consult SDK or ardrone_autonomy wiki) -->
		<param name="outdoor" value="0" />
		<param name="flight_without_shell" value="0" />

		<param name="max_bitrate" value="2000" />
		<param name="bitrate" value="2000" />
		<param name="video_codec" value="129" />
		
		<param name="altitude_max" value="5000" />
		<param name="altitude_min" value="300" />

		<param name="detect_type" value="4" /> <!-- 10.CAD_TYPE_MULTIPLE_DETECTION_MODE 3.disabled -->
		<param name="detections_select_h" value="0" /> <!-- TAG_TYPE_BLACK_ROUNDEL 128 COCARDE 4 NONE 0 -->
		<param name="detections_select_v" value="4" />	
		
		<param name="enemy_colors" value="0" />
		<param name="enemy_without_shell" value="0" />
		<param name="do_imu_caliberation" value="false" />
		<param name="tf_prefix" value="mydrone" />

		<!-- Enables the standard /ardrone/navdata, imu and mag topics. If not specified, defaults to TRUE -->
		<param name="enable_legacy_navdata" value="true" />

		<!-- Tunes the speed at which the ros loop runs, and thus, the rate at which navdata is published -->
		<param name="looprate" value="50" />

		<!-- Do we want to publish new-style navdata when received (true), or every time the ros-loop runs (false)? -->
		<!-- (does not affect legacy navdata, which is always published at ros-loop rate) -->
		<param name="realtime_navdata" value="true" />
		<param name="realtime_video" value="true" />

		<!-- Covariance Values (3x3 matrices reshaped to 1x9)-->
		<rosparam param="cov/imu_la">[0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.1]</rosparam>
		<rosparam param="cov/imu_av">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
		<rosparam param="cov/imu_or">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 100000.0]</rosparam>
	</node>
</launch>
